# -------------------------
# Python / Django
# -------------------------
__pycache__/
*.py[cod]
*.pyo

# Django database
db.sqlite3
db.sqlite3-journal

# Static files
staticfiles/
media/

# Python virtual environments
venv/
env/
ENV/
.venv/
codifyenv/


# Python build files
build/
dist/
*.egg-info/
.eggs/

# Python cache
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# -------------------------
# Environment variables
# -------------------------
.env
.env.*
!.env.example

# -------------------------
# Node / React
# -------------------------
node_modules/
dist/
build/

# Logs
*.log
logs/

# -------------------------
# Redis / Celery
# -------------------------
celerybeat-schedule
celerybeat.pid
*.rdb
*.aof

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

